:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --text-color: hsl(0, 0%, 100%);
  --dark-blue-1: hsl(236, 21%, 26%);
  --dark-blue-2: hsl(235, 16%, 14%);
  --dark-blue-3: hsl(234, 17%, 12%);
}

/* Main Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  background: url('./images/pattern-hills.svg') no-repeat center bottom/100% 20%,
    url('./images/bg-stars.svg'), var(--dark-blue-3);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p,
h2,
label,
button {
  text-transform: uppercase;
  letter-spacing: 10px;
}

i {
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}

i:hover {
  color: var(--soft-red);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main Showcase */
.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.showcase h2 {
  font-size: 1.45rem;
}

.showcase .countdown-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
}

.countdown-timer .count-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.count-item .card {
  width: 10rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.card div {
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
}

.card div::after,
.card div::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 0;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--dark-blue-3);
}

.card .bottom::after,
.card .bottom::before {
  top: 0;
  border-radius: 0 0 100% 0;
}

.card div::after {
  left: auto;
  right: 0;
  border-radius: 100% 0 0 0;
}

.card .bottom::after {
  border-radius: 0 0 0 100%;
}

.card .top {
  transform-origin: bottom;
  background: #2c2c44;
  border-radius: 10px 10px 0 0;
}

.main-side .main-top {
  z-index: 1;
}

.card .bottom {
  transform-origin: top;
  background: var(--dark-blue-1);
  border-radius: 0 0 10px 10px;
}

.card div p {
  position: absolute;
  left: 50%;

  letter-spacing: 0;
  font-size: 6rem;
  color: hsl(343, 100%, 68%);
}

.card .top p {
  bottom: 0;
  color: hsl(345, 62%, 57%);
  transform: translate(-50%, 50%);
}

.card .bottom p {
  top: 0;
  transform: translate(-50%, -50%);
}

.count-item .flip-side {
  position: absolute;
  top: 0;
  perspective: 800px;
  z-index: 2;
}

.count-item .label {
  opacity: 0.5;
  font-size: 0.8rem;
}

.social-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-items {
  display: flex;
  gap: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  word-spacing: 3px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.open-form {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.open-form:hover {
  transform: rotate(90deg);
}

/* Input Form */
.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  filter: blur(2px);
  z-index: 2;
}

.input-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: hsl(236, 21%, 26%);
  opacity: 0.9;
  padding: 1.5rem;
  padding-top: 3rem;
}

.input-form .close-form {
  position: absolute;
  top: 7px;
  right: 7px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.input-form .close-form:hover {
  color: var(--soft-red);
}

.input-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form .input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.input-field label {
  color: var(--soft-red);
}

.input-field input {
  width: 50%;
  font-family: inherit;
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
}

form .btn {
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  letter-spacing: 5px;
  border: none;
  cursor: pointer;
  margin-top: 7px;
  transition: all 0.2s;
}

form .btn:hover {
  background: var(--soft-red);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes flip-to-bottom {
  0% {
    transform: rotate3d(0);
  }

  50% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }

  100% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes flip-to-top {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0);
  }
}
